    <div class="row">
    <div class="card mx-auto mt-4 shadow-lg text-center">
    <%= link_to image_tag( post.get_post_image(200,200) ), post_path(post.id) %>
    <%= link_to post.member.name, member_path(post.member_id) %>
    <div><i class="fa fa-heart unlike-btn"></i>
    <%= post.likes.length %></div>
    <%= link_to post.content.truncate(15, separator: ' ') , post_path(post.id) %>
  </div>
</div>