

<div class="container text-center takasa">
  <div class="row">
    <br>
            <div class="col-md-12">
    <div class="title"><h3>nekomemashiteとは</h3></div><br>

  	<p>毎年、ペットフード協会が発表しているペットの飼育頭数調査によると、<br>
    	最新の調査結果である2021年では、すべての動物で猫の飼育数は犬を抜いて1位となっています。<br>
      さらにコロナ前の２０１９年に比べ、２０２０年、２０２１年ともに増加となっており、<br>
      コロナ渦で猫への癒しを求めたり、家族内でのコミュニケーションを深めている傾向がうかがえるとの<br>
      研究結果が出ており、猫の需要はこれからも増え続けると考えられています。<br>
      そして自分の飼っている猫以外の様子を知る機会がなかったため、このサイトを通して<br>
      コロナ渦でも今後増える猫・飼い主さんとの交流を行うことで、猫を飼おうか悩んでいる人の決め手になったり<br>
    既に飼っている人は、猫との生活をより楽しく過ごせるのではないかと考え、このサイトを作りました。</p>
  </div>
  </div>
</div>
