<div class="container text-center takasa">
  <div class="row">
    <p>ようこそ！</p>
    <p>このサイトはネコの飼い主さんが</p>
    <p>ネコちゃんたちの様子をネコ活として投稿し、</p>
    <p>飼い主さん同士や、ネコが好きな人との交流ができるサイトです！</p>
    <p>新規登録を行い、早速ネコ活の投稿や</p>
    <p>好きなネコ活にいいねやコメントを残してみよう！</p>
    <p></p>
</div>
</div>