<div class="container">
  <p>いいねした投稿一覧</p>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <%= render partial: "public/posts/post", collection: @like_posts %>
    </div>
    <div class="col-4"></div>
  </div>
</div>