<div class="container">
  <p class="text-center mt-5">いいねした投稿一覧</p>


        <div class="mx-auto mt-4  text-center">
        <%= render partial: "public/posts/post", collection: @like_posts %>
</div>
</div>